{% extends 'base.html' %}
{% block page_content %}
    <h1 class="text-center">Login to Your Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <!-- Login Form -->
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Sing in</button>
                <br>
                <p>Don't have an account ? </p>
                <a class="btn btn-primary" href="{% url 'profile register' %}">Sing up</a>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}